<!DOCTYPE html>
<html>
<head>
	<title>Author List</title>
</head>
<body>
	{{ authors|pprint}}
	<p>List of Authors</p>
	<ul>
		{% for a in authors %}
		<li>{{ a }}  </li>
		{% endfor %}
	</ul>
	<p>List of Books</p>
	<ul>
		{% for b in books %}
		<li>{{ b.title }} and {{ b.authors.all }}</li>
		{% endfor %}
	</ul>
	<!-- Accessing ManyToMany Values  -->
	<li>Accessing ManyToMany Values directly in the template: <b>{{ b1.authors.all }}</b></li>

	<!-- Accessing ManyToMany Values in reverse -->
	<li>Accessing ManyToMany Values in reverse from View: <b>{{ a }}</b></li>

	<!-- Accessing foreign Key Values -->
	<li>Accessing foreign Key Values directly in the template: <b>{{ b1.publishers }} and {{ b1.publishers.website }}</b></li>


	<li>Accessing foreign Key in reverse from View: <b>{{ p }}</b></li>


	<!-- <ul>
		{% for book in books %}
		<li>{{ book.title }}</li>
		{% endfor %}
	</ul> -->

</body>
</html>